.Login-modal {
    width: clamp(50%, 700px, 90%);
    height: min(50%, 300px);

    margin: auto;
    padding: 0 2rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    float:left;
    left: 18%;
    top: 25%;
    transform: translate(-50%, -50%);
}

.Login-modal>.Close-button {
    width: auto;
    height: 3rem;
    border: none;
    outline: none;
    -webkit-appearance: none;
    border-radius: 4px;
    font-weight: 600;
    font-size: 1.25rem;
    letter-spacing: 1.25px;
    cursor: default;
    font-family: "Montserrat", sans-serif;
}

.orange-gradient {
    background: linear-gradient(10deg, #ffaa00, #ff6a00)
}