.Login-modal {
    width: clamp(50%, 700px, 90%);
    height: min(50%, 300px);

    margin: auto;
    padding: 0 2rem;
    border-radius: 12px;
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
    position: absolute;
    float: left;
    left: 18%;
    top: 15%;
    transform: translate(-50%, -50%);
    height: 400px;
}

.Login-modal>.Close-button {
    cursor: pointer;
    margin-left: 41rem;
    padding-top: 1rem;
    font-size: 2rem;
    
}
.Login-Heading{
    margin: 0;
    /* margin-bottom: 1rem; */
    font-family: 'Iceland', cursive;
    color:white;
}
.gradient {
    background: linear-gradient(180deg, #360D70, #266bac);
    border: 1px solid #14FF8E;
    box-shadow: 0px 4px 10px #14FF8E;
}



.Parent-Login{
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.Login-Image{
    width:19rem;
    padding-bottom: 5rem;
}
input {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid gray;
    font-family: 'Iceland', cursive;
    font-size: 1.4rem;
    margin-bottom: .8rem;
    width: 15rem;
}




.UserLogin-Form{
    padding-bottom: 5rem;
    padding-right: 3rem;
}

.Submit-Button {
    background: #2E3A8B;
    /* border: 1px solid #14FF8E; */
    border: 0;
    border-radius: 0.5rem;
    width: 17rem;
    color: #fff;
    font-family: 'Iceland', cursive;
    font-size: 1.3rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.Submit-Button:hover {
    filter: drop-shadow(0px 4px 20px #2E3A8B)
}

.Toastify{
    font-size: 1rem;
}